body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#display {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.drum-pad {
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.drum-pad:hover,
.drum-pad.active {
  background-color: #4caf50; /* Change this color to your desired pressed color */
}

audio {
  display: none;
}
